<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Edit post</title>
</head>
<body>
    <div>
        <form th:method="PATCH" th:object="${postDTO}" th:action="@{/posts/{id}(id=${postDTO.getId()})}" >
            <label for="text">What u want to edit</label>
            <input type="text" th:value="${postDTO.getStorageData()}" th:field="*{storageData}"  id="text"/>
            <input type="submit" value="Send"/>
        </form>
    </div>

    <div>
        <br/>
        <a href="/posts">Back</a>
    </div>

</body>
</html>